:root {
    /* Text font size */
    --font-size-0: 16px; /*p*/
    --font-size-1: 42px; /*h1*/
    --font-size-2: 28px; /*h2*/
    --font-size-3: 20px; /*h3*/
    --font-size-4: 18px; /*h4*/
    --font-size-5: 12px; /*h5*/
    --font-size-6:  8px; /*h6*/
    --font-size-mobile-0: 16px; /*p*/
    --font-size-mobile-1: 42px; /*h1*/
    --font-size-mobile-2: 28px; /*h2*/
    --font-size-mobile-3: 20px; /*h3*/
    --font-size-mobile-4: 18px; /*h4*/
    --font-size-mobile-5: 12px; /*h5*/
    --font-size-mobile-6:  8px; /*h6*/  
    /* Creatoper Wrap */
    --creatoper-wrap-padding-vertical: 10vh;
    --creatoper-wrap-padding-horizontal: 100px;
    --creatoper-wrap-mobile-padding-vertical: 10px;
    --creatoper-wrap-mobile-padding-horizontal: 20px;
    /* Background + Text */
    --background-color-light-mode:  #e2e2e2;
    --background-color-dark-mode:  #252525;
    --text-color-light-mode: #292929;
    --text-color-dark-mode: #d4d4d4;
    /* Section */
    --section-1-background-color: #e2e2e2;
    --section-2-background-color: #cfcfcf;
    --section-3-background-color: #b9b9b9;
    /* Dark Mode Switch */
    --dark-moce-switch-transition-time: 0.5s;
    /* Link Hover */
    --link-color: #b3b3b3;
    --link-color-hover: #ffffff;
    --link-color-hover-transition-time: 0.25s;
    /* Image Zoom Effect */
    --image-zoom-transition-time: 0.4s;
    --image-zoom-transform-level: 1.075;
    --image-zoom-border-radius: 4px;
    /* Fullscreen Overlay Navigation 1 */
    --fullnav1-z-index: 10;
    --fullnav1-content-margin-top: 30px;
    --fullnav1-content-padding-top: 25%;
    --fullnav1-tranparency: 0.9;
    --fullnav1-transition-time: 0.5s;
    --fullnav1-font-size: 36px;
    /* Custom Scroll Bar */
    --scroll-bar-width: 8px;
    --scroll-bar-track-color: transparent;
    --scroll-bar-thumb-color: #b1b1b1;
    --scroll-bar-thumb-hover-color: #252525;
    /* Custom Text Selection */
    --text-selection-background-color: #ffffff;
    --text-selection-text-color: #000000;
    /* Highlight Text */
    --highlight-text-background-color: #ffffff;
    --highlight-text-color: #000000;
    --highlight-text-padding: 0.1ch 0.45ch;
    --highlight-text-border-radius: 2px;
    /* Button Hover */
    --button-background-color: white;
    --button-text-color: black;
    --button-transition-time: 0.2s;
    --button-border: none;
    --button-outline: none;
    --button-border-radius: 4px;
    --button-padding: 14px 32px;
    --button-background-hover-color: black;
    --button-text-hover-color: white;
    /* Custom Cursor */
    --cursor-opacity: 0;
    --cursor-pointer-events: none;
    --cursor-mix-blend-mode: difference;
    --cursor-width: 24px;
    --cursor-height: 24px;
    --cursor-border-radius: 50%;
    --cursor-background-color: white;
    --cursor-transition-time: 350ms;
    --cursor-link-hover-scale: 2.5;
    --cursor-justhover-hover-scale: 15;
    /* Rounded Image Avatar */
    --rounded-image-border-color: #dadada;
    --rounded-image-border-width: 2px;
    /* Tooltip */
    --tooltip-background-color: #ffffff;
    --tooltip-text-color: #000000;
    --tooltip-width: 120px;
    /* Scroll To Top */
    --scroll-to-top-size: 20px;
    --scroll-to-top-color: #8a8a8a;
    --scroll-to-top-hover-color: #000000;
    --scroll-to-top-bottom-margin: 10px;
    --scroll-to-top-right-margin: 10px;
    --scroll-to-top-z-index: 100;
    --scroll-to-top-border: none;
    --scroll-to-top-outline: none;
    --scroll-to-top-cursor: pointer;
    --scroll-to-top-padding: 20px;
    --scroll-to-top-background-color: transparent;
    /* Global Variable */
    --global-transition-time: 0.25s;
    --global-image-border-radius: 4px;
}

* {
  font-family: 'Google Sans', sans-serif;
  box-sizing: border-box;
  font-size: var(--font-size-0);
  scroll-behavior: smooth;
  line-height: 1.5;
  transition: all var(--global-transition-time);
}

/* ------------------------ Global Settings -------------------------- */
body {
  margin: 0;
  padding: 0;
}

.creatoper-wrap {
  background-color: var(--background-color-light-mode);
  color: var(--text-color-light-mode);
  padding: var(--creatoper-wrap-padding-vertical) var(--creatoper-wrap-padding-horizontal);
  margin: 0px;
  transition: all var(--dark-moce-switch-transition-time);
} @media only screen and (max-width: 768px) {
  .creatoper-wrap {
    padding: var(--creatoper-wrap-mobile-padding-vertical) var(--creatoper-wrap-mobile-padding-horizontal);
  }
}

[class*="section-"] {
  color: var(--text-color-light-mode);
  padding: var(--creatoper-wrap-padding-vertical) var(--creatoper-wrap-padding-horizontal);
  margin: 0px;
  transition: all var(--dark-moce-switch-transition-time);
} @media only screen and (max-width: 768px) {
  [class*="section-"] {
      padding: var(--creatoper-wrap-mobile-padding-vertical) var(--creatoper-wrap-mobile-padding-horizontal);
  }
}

.section-1 {
  background-color: var(--section-1-background-color);
}
.section-2 {
  background-color: var(--section-2-background-color);
}
.section-3 {
  background-color: var(--section-3-background-color);
}
.section-img {
  background-image: url('./assets/desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ----------------- Dark Mode Switch ------------------ */
.dark-mode {
  background-color: var(--background-color-dark-mode);
  color: var(--text-color-dark-mode);
  padding: var(--creatoper-wrap-padding-vertical) var(--creatoper-wrap-padding-horizontal);
  margin: 0px;
  transition: all var(--dark-moce-switch-transition-time);
} @media only screen and (max-width: 768px) {
  .dark-mode {
    padding: var(--creatoper-wrap-mobile-padding-vertical) var(--creatoper-wrap-mobile-padding-horizontal);
  }
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: all var(--link-color-hover-transition-time);
}
a:hover {
  color: var(--link-color-hover);
  border-bottom: none;
}


/* ---------- Text System ---------- */
p {
  font-size: var(--font-size-0);
} h1 {
  font-size: var(--font-size-1);
} h2 {
  font-size: var(--font-size-2);
} h3 {
  font-size: var(--font-size-3);
} h4 {
  font-size: var(--font-size-4);
} h5 {
  font-size: var(--font-size-5);
} h6 {
  font-size: var(--font-size-6);
}
@media only screen and (max-width: 768px) {
  p {
    font-size: var(--font-size-mobile-0);
  } h1 {
    font-size: var(--font-size-mobile-1);
  } h2 {
    font-size: var(--font-size-mobile-2);
  } h3 {
    font-size: var(--font-size-mobile-3);
  } h4 {
    font-size: var(--font-size-mobile-4);
  } h5 {
    font-size: var(--font-size-mobile-5);
  } h6 {
    font-size: var(--font-size-mobile-6);
  }
}

img {
  width: 100%;
  border-radius: var(--global-image-border-radius);
}

/* --------------------- RWD12 System ---------------------- */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  float: left;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* --------------------- RWD-n System ---------------------- */
.row-2::after, .row-3::after, .row-4::after, .row-5::after, .row-6::after, .row-7::after, .row-8::after, .row-9::after, .row-10::after, .row-11::after, .row-12::after {
  content: "";
  clear: both;
  display: table;
}
/* For mobile phones: */
.row-2 .col, .row-3 .col, .row-4 .col, .row-5 .col, .row-6 .col, 
.row-7 .col, .row-8 .col, .row-9 .col, .row-10 .col, .row-11 .col, .row-12 .col {
  width: 100%;
  float: left;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .row-2 .col {width: 50%;}
  .row-3 .col {width: 33.33%;}
  .row-4 .col {width: 25%;}
  .row-5 .col {width: 20%;}
  .row-6 .col {width: 16.66%;}
  .row-7 .col {width: 14.28%;}
  .row-8 .col {width: 12.5%;}
  .row-9 .col {width: 11.11%;}
  .row-10 .col {width: 10%;}
  .row-11 .col {width: 9.09%;}
  .row-12 .col {width: 8.33%;}
}

/* ------------------------ Custom Scroll Bar ------------------------- */
::-webkit-scrollbar {
  width: var(--scroll-bar-width);
}
::-webkit-scrollbar-track {
  background: var(--scroll-bar-track-color);
}
::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-thumb-color); 
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-thumb-hover-color); 
}

/* ------------------------ Custom Text Selection ---------------------- */
::selection {
  color: var(--text-selection-text-color);
  background: var(--text-selection-background-color);
}

/* --------------------------- Highlight Text --------------------------- */
mark {
  background-color: var(--highlight-text-background-color);
  color: var(--highlight-text-color);
  padding: var(--highlight-text-padding);
  border-radius: var(--highlight-text-border-radius);
  font-size: inherit;
}

/* --------------------------- Scroll to top ---------------------------- */
#scrolltotop {
  font-size: var(--scroll-to-top-size);
  display: none;
  position: fixed;
  bottom: var(--scroll-to-top-bottom-margin);
  right: var(--scroll-to-top-right-margin);
  z-index: var(--scroll-to-top-z-index);
  border: var(--scroll-to-top-border);
  outline: var(--scroll-to-top-outline);
  color: var(--scroll-to-top-color);
  cursor: var(--scroll-to-top-cursor);
  padding: var(--scroll-to-top-padding);
  background-color: var(--scroll-to-top-background-color);
}
#scrolltotop:hover {
  color: var(--scroll-to-top-hover-color);
}

/* ------------------------ Fullscreen Overlay Navigation 1 ------------------------- */
.fullnav1-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: var(--fullnav1-z-index);
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, var(--fullnav1-tranparency));
  overflow-x: hidden;
  transition: var(--fullnav1-transition-time);
}

.fullnav1-overlay-content {
  position: relative;
  top: var(--fullnav1-content-padding-top);
  width: 100%;
  text-align: center;
  margin-top: var(--fullnav1-content-margin-top);
}

.fullnav1-overlay a {
  font-size: var(--fullnav1-font-size);
  padding: 8px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.fullnav1-overlay a:hover, .fullnav1-overlay a:focus {
  color: #ffffff;
}

.fullnav1-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  z-index: 1000;
}

@media screen and (max-height: 450px) {
  .fullnav1-overlay a {font-size: 20px}
  .fullnav1-overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */


/* ---------- Just Display On Desktop/Mobile ---------- */

.just-display-on-desktop {
  display: block;
} @media only screen and (max-width: 768px) {
  .just-display-on-desktop {
    display: none;
  }
}

.just-display-on-mobile {
  display: block;
} @media only screen and (min-width: 768px) {
  .just-display-on-mobile {
    display: none;
  }
}

/* ---------- Anti-copy ---------- */
.anti-copy {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

/* ---------- Rounded Image ---------- */
.rounded-image {
  border-radius: 100%;
  background-color: var(--rounded-image-border-color);
  padding: var(--rounded-image-border-width);
}

/* ---------- Auto-update Copyright Year ---------- */
#auto-update-copyright-year {
  float: left;
}

/* ---------- Image Zoom Effect ---------- */
.image-parent {
  overflow: hidden;
  border-radius: var(--image-zoom-border-radius);
}
.image-zoom {
  height: 100%;
  width: 100%;
  -webkit-transition: all var(--image-zoom-transition-time);
  -moz-transition: all var(--image-zoom-transition-time);
  -o-transition: all var(--image-zoom-transition-time);
  transition: all var(--image-zoom-transition-time);
}
.image-zoom:hover {
  -ms-transform: scale(var(--image-zoom-transform-level));
  -moz-transform: scale(var(--image-zoom-transform-level));
  -webkit-transform: scale(var(--image-zoom-transform-level));
  -o-transform: scale(var(--image-zoom-transform-level));
  transform: scale(var(--image-zoom-transform-level));
}

/* =====---------- Tooltip ----------===== */
[class*="tooltip-"] {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip-top:hover .tooltiptext, .tooltip-bottom:hover .tooltiptext, 
.tooltip-right:hover .tooltiptext, .tooltip-left:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* ---------- Tooltip-top ---------- */

.tooltip-top .tooltiptext {
  visibility: hidden;
  width: var(--tooltip-width);
  background-color: var(--tooltip-background-color);
  color: var(--tooltip-text-color);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  /* Transition */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip-top .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--tooltip-background-color) transparent transparent transparent;
}

/* ---------- Tooltip-bot ---------- */

.tooltip-bottom .tooltiptext {
  visibility: hidden;
  width: var(--tooltip-width);
  background-color: var(--tooltip-background-color);
  color: var(--tooltip-text-color);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  /* Transition */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip-bottom .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--tooltip-background-color) transparent;
}

/* ---------- Tooltip-right ---------- */

.tooltip-right .tooltiptext {
  visibility: hidden;
  width: var(--tooltip-width);
  background-color: var(--tooltip-background-color);
  color: var(--tooltip-text-color);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  /* Transition */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip-right .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--tooltip-background-color) transparent transparent;
}

/* ---------- Tooltip-left ---------- */

.tooltip-left .tooltiptext {
  visibility: hidden;
  width: var(--tooltip-width);
  background-color: var(--tooltip-background-color);
  color: var(--tooltip-text-color);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
  /* Transition */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip-left .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--tooltip-background-color);
}


/* ---------- Snackbar Notification ---------- */
#snackbar-notification {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 12px 8px;
  border-radius: 4px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar-notification.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from { bottom: 0; opacity: 0; } to { bottom: 30px; opacity: 1; }
}
@keyframes fadein {
  from { bottom: 0; opacity: 0; } to { bottom: 30px; opacity: 1; }
}

@-webkit-keyframes fadeout {
  from { bottom: 30px; opacity: 1; } to { bottom: 0; opacity: 0; }
}
@keyframes fadeout {
  from { bottom: 30px; opacity: 1; } to { bottom: 0; opacity: 0; }
}

/* ---------- Button Hover ---------- */
button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  transition: all var(--button-transition-time);
  border: var(--button-border);
  outline: var(--button-outline);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
} button:hover {
  background-color: var(--button-background-hover-color);
  color: var(--button-text-hover-color);
}

/* ---------- Modal Box ---------- */
/* The Modal (background) */
.modal-overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: white;
  border-radius: 8px;
  margin: auto;
  padding: 32px;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/* The Close Button */
.close {
  color: grey;
  float: right;
  font-size: 32px;
  position: relative;
  bottom: 16px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color:black;
  text-decoration: none;
  cursor: pointer;
}

/* ---------------------------- Custom Cursor ----------------------------- */

.custom-cursor {
  position: fixed;
  opacity: var(--cursor-opacity);
  pointer-events: var(--cursor-pointer-events);
  mix-blend-mode: var(--cursor-mix-blend-mode);
  width: var(--cursor-width);
  height: var(--cursor-height);
  border-radius: var(--cursor-border-radius);
  background-color: var(--cursor-background-color);
  -webkit-transition: -webkit-transform var(--cursor-transition-time) ease;
  transition: -webkit-transform var(--cursor-transition-time) ease;
  transition: transform var(--cursor-transition-time) ease;
  transition: transform var(--cursor-transition-time) ease, -webkit-transform var(--cursor-transition-time) ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  z-index: 1000;
} @media only screen and (max-width: 768px) {
  .custom-cursor {
    width: 0px;
    height: 0px;
  }
}
.custom-cursor--link, .custom-cursor--button {
  -webkit-transform: translate(-50%, -50%) scale(var(--cursor-link-hover-scale));
          transform: translate(-50%, -50%) scale(var(--cursor-link-hover-scale));
}
.custom-cursor--justhover {

}
.custom-cursor--justhover-cursor {
  -webkit-transform: translate(-50%, -50%) scale(var(--cursor-justhover-hover-scale));
          transform: translate(-50%, -50%) scale(var(--cursor-justhover-hover-scale));
}



/* ========================================================================= */
